* {
  margin: 0;
  padding: 0;
  /* background-color: aquamarine; */
}

#navContainer {
  /* border: solid 4px purple; */
  /* display: grid;
  grid-template-rows: repeat(3,1fr); */
}

#navLinks {
  /* border: solid 4px blue; */
  /* display: grid;
  grid-template-rows: 1fr; */
}


li {
  font-family: fantasy;
  font-size: 25px;
  text-align: center;

}

p {
  font-family: fantasy;
}

label {
  font-family: cursive;
  font-size: 20px;
}

h1 {
  font-family: cursive;
}

#button:hover {

  border-color: black;

}
